body {
  background: #000000;
  margin: 0 0;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}
#li-in-nav {
  color: rgb(166, 168, 170);
}
#line {
  border: none;
  height: 2px;
  background-color: #ebebeb;
}
