body {
  background: #000000;
  margin: 0 0;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  color: white;
}
#li-in-nav {
  color: rgb(166, 168, 170);
}
#line {
  border: none;
  height: 2px;
  background-color: #ebebeb;
}
#wrkimg{
    height: 30px;
    width: 30px;
}
#myimg{
    height: 550px;
    width: 400px;
    border: 3px solid #dedede;
    border-radius: 5% ;
}
#skillimg{
    width: 50px;
height: 50px ;
}
#pj{
    border: 2px solid #dedede;
    border-radius: 5% ; 
    box-shadow: 0 5px 8px rgb(78, 78, 78);
}
#tclr1{
    color: yellow;
}
#pimg{
    height: 50px;
    width: 50px;
}
#ij{
    border: 2px solid #605e5e;
    border-radius: 10% ; 
        box-shadow: 0 5px 8px rgb(78, 78, 78);

}
#cnt_1{
    border: 2px solid #605e5e;
    padding: 15px;
}